@import '../../app/app.scss';

.portfolio {
    position: relative;
    height: 100%;
    width: 100%;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    background: linear-gradient(180deg, #0c0c1d, #111132),
    linear-gradient(137.48deg, #9c5ef8 67%, #0044ff 87%);
    background-origin: border-box;
    background-clip: content-box,
    border-box;

    #container-stars {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        overflow: hidden;
        transition: 0.5s;
        backdrop-filter: blur(1rem);
    }


    #stars {
        position: relative;
        background: transparent;
        width: 200rem;
        height: 200rem;
    }

    #stars::after {
        content: "";
        position: absolute;
        top: -10rem;
        left: -100rem;
        width: 100%;
        height: 100%;
        animation: animStarRotate 90s linear infinite;
    }

    #stars::after {
        background-image: radial-gradient(#ffffff 1px, transparent 1%);
        background-size: 100px 100px;
    }

    #stars::before {
        content: "";
        position: absolute;
        top: 0;
        left: -50%;
        width: 170%;
        height: 500%;
        animation: animStar 60s linear infinite;
    }

    #stars::before {
        background-image: radial-gradient(#ffffff 1px, transparent 1%);
        background-size: 50px 50px;
        opacity: 0.5;
    }

    @keyframes animStar {
        from {
            transform: translateY(0);
        }

        to {
            transform: translateY(-135rem);
        }
    }

    @keyframes animStarRotate {
        from {
            transform: rotate(360deg);
        }

        to {
            transform: rotate(0);
        }
    }

    @keyframes gradient_301 {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    @keyframes pulse_3011 {
        0% {
            transform: scale(0.75);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
        }

        70% {
            transform: scale(1);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
        }

        100% {
            transform: scale(0.75);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
    }
    .progress {
        position: sticky;
        top: 0;
        left: 0;
        padding-top: 35px;
        text-align: center;
        h1 {
            font-size: 2rem;
            color: #ffa500;

            @include mobile {
                font-size: 1.6rem;
            }
        }

        @include mobile {
            width: 100%;
            padding-top: 0.8rem;
        }

        .progressBar {
            height: 10px;
            background-color: #fffffe;
            border-radius: 10px;
        }
    }



    .containerPorfolio {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .wrapper {
            width: clamp(200px, 83vw, 1366px);
            height: 100%;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;

            @include mobile {
                flex-direction: column;

            }

            .textContainer {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 20px;

                @include mobile {
                    transform: none !important;
                    padding: 10px;
                    align-items: center;
                    text-align: center;
                }

                h2 {
                    font-size: 60px;

                    @include mobile {
                        font-size: 36px;
                    }
                }

                p {
                    color: gray;
                    font-size: 1rem;

                    @include mobile {
                        font-size: 16px;
                    }
                }

                button {
                    padding: 5px;
                    width: 100px;
                    background-color: #ffa500;
                    border: none;
                    border-radius: 10px;
                    cursor: pointer;
                }
            }

            .imageContainer {
                flex: 1;
                height: 50%;

                @include mobile {
                    width: 100%;
                    max-height: 300px
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                    @include mobile {
                        object-fit: contain;
                    }

                }
            }
        }
    }
}
