
/* Mobile */
@mixin mobile {
  @media (max-width: 738px) {
    @content;
  }

}

@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }

}
@mixin desktop {
  @media (max-width: 5687px) {
    @content;
  }
  
}

html{
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  line-height: 1.15;

  @include mobile {
    scroll-snap-type: none;
}
}

.section {
  height: 100vh;
  scroll-snap-align: center;
  
  @include mobile {
    padding: 0;
    scroll-snap-align: none;
}
}

.section_porfolio {
  height: 100vh;
  scroll-snap-align: center;
  
  @include mobile {
    padding: 0;
    scroll-snap-align: none;
}
}
/* Tablet and Smaller Desktop */

// /* Tablet and Smaller Desktop */
// @media (min-width: 701px) and (max-width: 1120px) {

// }