html{
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-padding: 0;
  scroll-behavior: smooth;
  line-height: 1.15;
}

* {
  padding: 0;
  margin: 0;
}
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  background-color: #0c0c1d;
  height: 100%;
  color: rgb(211, 211, 211);
}


a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}


