@import '../../app/app.scss';
.navbar{
    height: 90px;


    .wrapper{
        width: clamp(200px, 83vw, 1366px);
        margin:auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding:0 1.3rem;
        span{
            font-weight: bold;
        }
        .links {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            @include mobile {
                display: none;
            }

            a {
                font-size: 1.3em;
                font-weight: 600;
            }
        }
        .social{
            display: flex;
            gap: 20px;
            img{
                width: 18px;
                height: 18px;
            }
        }
    }
}